@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(131, 131, 131); */
}
.page-container {
  display: grid;
  grid-template-columns: clamp(12rem, 20%, 14rem) 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font-family: "Roboto";
}
/* ---------------------------sidebar */
.sidebar {
  grid-row: 1 / span 2;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  color: #fff;
  background-color: #1992d4;
  z-index: 2;
}
.sidebar__header {
  display: flex;
  gap: 1ch;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: -5px 0 0 -5px;
}
.logo {
  --logo-size: 2rem;
  height: var(--logo-size);
  width: var(--logo-size);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  gap: calc(var(--logo-size) * 0.1);
  /* grid-template-areas: "1 2", "1 4", "3 4"; */
  grid-auto-flow: dense;
}
.logo > div:nth-child(odd) {
  grid-row: span 2;
}
.logo > div {
  background-color: #fff;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: none;
}
.sidebar__menu li {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.sidebar__menu li i {
  padding-bottom: 0.2rem;
}
/* -----------------header */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  font-weight: 700;
  padding: 0.7rem 5vw;
  box-shadow: 0 0 10px 0 rgb(71, 71, 71);
  z-index: 1;
}
.header__searchbar,
.header__navbar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.header input[type="search"] {
  height: 1.4rem;
  flex: 1 1 30rem;
  border-radius: 0.7rem;
  border: 0;
  background-color: #ddd;
  padding: 0.3rem 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
}
.header input[type="search"]:focus {
  outline: none;
}
.header__searchbar .icon {
  font-size: 1rem;
}
.username-small {
  font-size: 0.8rem;
  flex-shrink: 0;
}
.header .whitespace {
  flex: 5 1 3rem;
}
.userpic {
  --userpic-size: 2rem;
  height: var(--userpic-size);
  width: var(--userpic-size);
  border-radius: 50%;
}
.userpic-big {
  /* --userpic-size: calc(var(--userpic-size) * 1.5); */
  height: calc(var(--userpic-size) * 1.5);
  width: calc(var(--userpic-size) * 1.5);
}
.hi-there {
  display: grid;
  align-content: center;
  margin-right: auto;
}
.hi-there__top {
  font-size: 0.7rem;
}
.nav-button {
  background-color: #1992d4;
  height: 1.8rem;
  border: none;
  border-radius: 0.9rem;
  padding: 0 2rem;
  color: #fff;
  font-size: 0.8rem;
}
.main {
  background-color: rgb(231, 231, 231);
  display: grid;
  grid-template-columns: 1fr 25%;
  gap: 1rem;
  padding: 3rem 1rem;
}
main h3 {
  margin-bottom: 1rem;
}
.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 1.5rem;
}
.card,
.right-card {
  border-radius: 8px;
  border-left: 8px solid #f0b42a;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 3px 5px 7px 0 rgb(170, 170, 170);
  background-color: #fff;
}
.card > :last-child {
  justify-self: end;
  display: flex;
  gap: 2rem;
}
.card i {
  font-size: 1.2rem;
}
.card p {
  color: #555;
}
.right-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.right-card {
  border: none;
  padding: 1.5rem;
  grid-template-columns: 1fr;
}
.announcements .right-card > :not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.announcements .right-card p {
  font-size: 0.8rem;
  color: #555;
}
main h4 {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 0.2rem;
}
